* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#slider-section {
    height: 500px;
    background-color: rgba(17, 20, 19, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0B0C10;
}

.myContainer {
    width: 1600px;
    margin: auto;
}

.mySubContainer {
    width: 90%;
    margin: auto;
}

.slidesWrapper {
    position: relative;
}

#controls{
    color: rgb(27, 201, 203);
    font-size: 1rem;
}

.prev,
.next {
    padding: 2px;
    width: 30px;
    cursor: pointer;
    border-radius: 10%;
    outline:none;
    color: rgb(114, 235, 244);
    transition: 0.7s ease-in-out;
    border: 3px solid  rgb(97, 228, 240);
    background-color: rgb(6, 189, 192);
    box-shadow: 0 0 5px rgb(77, 154, 160);
    position:absolute;
    top:50%;
}

.prev{
    left:2%;
}

.next{
    right:2%;
}



.prev:hover,
.next:hover{
    border: 3px solid rgb(11, 173, 191);
}

.tns-nav{
    text-align: right;
}

.tns-nav button{
    border: none;
    padding: 8px;
    border-radius: 10%;
    background-color: rgb(169, 239, 239);
    margin-left: 15px;
}

.tns-nav .tns-nav-active{
    background-color:rgb(5, 157, 157);
}


.slide {
    width: auto;
    height: fit-content;
}

.slide img {
    width: 100%;
    height: 275px;
}

@media(max-width:1600px) {
    .myContainer {
        width: 100%;
    }
}