body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.trayModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.trayModal-Content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.closeTray {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeTray:hover,
.closeTray:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

  .btnProceed{
    background-color: #a1d8dc;
    width: 60%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    border: 2px solid #0B0C10;
    color: #0B0C10;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

.btnProceed:hover {
    background-color: #0B0C10;
    color: #66FCF1;
}